{% extends "layout.html" %}

{% block title %}
    Audio
{% endblock %}

{% block main %}

<div class="row g-4 g-lg-5" style="margin-right: 200px;">
  <!-- Image -->
  <div class="col-lg-6 position-relative">
    <img src="/static/micro.png" width="486.4" height="641.6" class="right-image" alt="microphone" >
  </div>
  <!-- Form -->
  <div class="col-lg-6 position-relative mb-4 mb-md-0 px-0 py-0" id="hidebox">
    <div class="box-voice2">
      <div class="container px-4 py-4" id="hanging-icons">
          <!-- Intro -->
          <div>
            <h3 class="header2">
              <svg class="bi" width="1.3em" height="1.3em" style="padding-bottom: 3px"><use xlink:href="#file-check"></use></svg>
              Check transcription</a></h3>
            <p class="text2">Prior to generating the translation, it is recommended to check the transcription. Make necessary modifications, deletions or additions to the content.</p>
            <!-- Voice name & file form-->
            <form action="/speechtotext" method="post">
              <textarea class="input" name="message" style="height: 300px">{{text}}</textarea>
            </form>
            <button class="btn btn-dark" style="float: right; padding: 5px; margin: 6px;">
              <div class="loader"></div>
            </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Form -->
  <div class="col-lg-6 position-relative mb-4 mb-md-0 px-0 py-0" id="showbox">
    <div class="box-voice2">
      <div class="container px-4 py-4" id="hanging-icons">
          <!-- Intro -->
          <div>
            <h3 class="header2">
              <svg class="bi" width="1.3em" height="1.3em" style="padding-bottom: 3px"><use xlink:href="#file-earmark-person"></use></svg>
              Select voice for audio</a></h3>
            <p class="text2">Generate an audio file from text input using a selected voice model. It uses natural language processing and speech synthesis to produce lifelike speech.</p>
            <!-- Voice name & file form-->
            <form action="/speechtospeech" method="post">
              <select class="selector" name="voice_name">
                <option disabled selected>Select voice</option>
                {% for voice in voices %}
                    <option value="{{voice}}">{{voice}}</option>
                {% endfor %}
                </select>
              <textarea class="input" name="translation" style="height: 235px">{{translated_text}}</textarea>
              <button class="btn btn-light" type="submit" style="float: right; padding: 0px; margin: 5px;" onclick="Loading()" id="arrow">
                <svg class="bi" width="2em" height="2em"><use xlink:href="#arrow-right-square-fill"></use></svg>
              </button>
            </form>
            <!--Flash message-->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="flash-message" id="hide">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <button class="btn btn-dark" style="float: right; padding: 5px; margin: 6px;" id="loading">
              <div class="loader"></div>
            </button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

var arrow = document.querySelector("#arrow");
var loading = document.querySelector("#loading");
var hide = document.querySelector("#hide");

loading.style.display = "none";

function Loading() {
  hide.style.display = "none";
  arrow.style.display = "none";
  loading.style.display = "block";
}


document.addEventListener("DOMContentLoaded", function() {


var box = document.querySelector("#hidebox");
var box2 = document.querySelector("#showbox");
var opacity1 = 1;
var opacity2 = 0;

box2.style.display = "none";

function fadeOut() {
  opacity1 -= 0.005;
  box.style.opacity = opacity1;
  if (opacity1 <= 0) {
    box.style.display = "none";
    fadeIn();
  } else {
    setTimeout(fadeOut, 5);
  }
}
setTimeout(fadeOut, 500);


function fadeIn() {
  box2.style.display = "block";
  opacity2 += 0.005;
  box2.style.opacity = opacity2;
  if (opacity2 <= 1) {
    setTimeout(fadeIn, 5);
  }
}

});


</script>

{% endblock %}
