{% extends "layout.html" %}

{% block title %}
    Create Voice
{% endblock %}

{% block main %}

<div class="row g-4 g-lg-5">
  <!-- Index options -->
  <div class="col-lg-6 position-relative mb-4 mb-md-0">
    <div class="box-voice1">
      <div class="container px-4 py-4" id="hanging-icons">
          <!-- Intro -->
            <div>
              <h3 class="header2">Custom voice</a></h3>
              <p class="text2">Create a custom voice model from an audio file. This personalized voice model is stored and can be used for text-to-speech applications.</p>
              <!-- Voice name & file form-->
              <form action="/createvoice" method="post" enctype="multipart/form-data">
                <input autocomplete="off" class="input" type="text" id="voicename" name="voicename" placeholder="Name of custom voice...">
                <input autocomplete="off" class="input-file" type="file" id="audiofile" name="audiofile" placeholder="File..." accept=".mp3" maxlength="5000000">
                <button class="btn btn-light" type="submit" style="float: right; padding: 0px; margin: 5px;" onclick="Loading()" id="arrow">
                  <svg class="bi" width="2em" height="2em"><use xlink:href="#arrow-right-square-fill"></use></svg>
                </button>
              </form>
              <!--Flash message-->
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="flash-message" id="hide">{{ message }}</div>
                  {% endfor %}
                {% endif %}
             {% endwith %}
              <button class="btn btn-dark" style="float: right; padding: 5px; margin: 6px;" id="loading">
                <div class="loader"></div>
              </button>
            </div>
      </div>
    </div>
  </div>
  <!-- Image -->
  <div class="col-lg-6 position-relative">
    <img src="/static/micro.png" width="486.4" height="641.6" class="right-image" alt="main">
  </div>
</div>

<script>

  var arrow = document.querySelector("#arrow");
  var loading = document.querySelector("#loading");
  var hide = document.querySelector("#hide");

  loading.style.display = "none";

  function Loading() {
    arrow.style.display = "none";
    loading.style.display = "block";
    hide.style.display = "none";
  }

  </script>

{% endblock %}
