{% extends "layout.html" %}

{% block title %}
    Text
{% endblock %}

{% block main %}

<div class="row g-4 g-lg-5" id="marginbox">
  <!-- Image -->
  <div class="col-lg-6 position-relative" id="showimage">
    <img src="/static/micro.png" width="486.4" height="641.6" class="right-image" alt="microphone">
  </div>
  <!-- Form -->
  <div class="col-lg-6 position-relative mb-4 mb-md-0 px-0 py-0" id="hidebox">
    <div class="box-voice" id="hidebutton">
      <div class="container px-4 py-4" id="hanging-icons">
          <!-- Intro -->
            <div>
              <h3 class="header2">
                <svg class="bi" width="1.3em" height="1.3em" style="padding-bottom: 3px"><use xlink:href="#filetype-mp3"></use></svg>
                Upload audio file</a></h3>
              <p class="text2">Transcribe an audio file into text. This tool uses speech recognition algorithms to convert spoken words into written text.</p>
              <!-- Voice name & file form-->
              <form action="/speechtotext" method="post" enctype="multipart/form-data">
                <input autocomplete="off" class="input-file" type="file" id="mainfile" name="mainfile" placeholder="File..." accept=".mp3">
              </form>
              <button class="btn btn-dark" style="float: right; padding: 5px; margin: 6px;">
                <div class="loader"></div>
              </button>
            </div>
      </div>
    </div>
  </div>
  <!-- Form -->
  <div class="col-lg-6 position-relative mb-4 mb-md-0 px-0 py-0" id="showbox">
    <div class="box-voice2">
      <div class="container px-4 py-4" id="hanging-icons">
          <!-- Intro -->
          <div>
            <h3 class="header2">
              <svg class="bi" width="1.3em" height="1.3em" style="padding-bottom: 3px"><use xlink:href="#file-check"></use></svg>
              Check transcription</a></h3>
            <p class="text2">Prior to generating the text file, it is recommended to check the transcription. Make necessary modifications, deletions or additions to the content.</p>
            <!-- Voice name & file form-->
            <form action="/speechtotext" method="post">
              <textarea class="input" name="message" style="height: 300px">{{text}}</textarea>
              <button class="btn btn-light" type="submit" style="float: right; padding: 0px; margin: 5px;" onclick="Loading()" id="arrow">
                <svg class="bi" width="2em" height="2em"><use xlink:href="#arrow-right-square-fill"></use></svg>
              </button>
            </form>
            <button class="btn btn-dark" style="float: right; padding: 5px; margin: 6px;" id="loading">
              <div class="loader"></div>
            </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Image -->
  <div class="col-lg-6 position-relative" id="hideimage">
    <img src="/static/micro.png" width="486.4" height="641.6" class="right-image" alt="microphone">
  </div>
</div>

<script>

var arrow = document.querySelector("#arrow");
var loading = document.querySelector("#loading");

loading.style.display = "none";

function Loading() {
  arrow.style.display = "none";
  loading.style.display = "block";
}

document.addEventListener("DOMContentLoaded", function() {

  var container = document.querySelector("#marginbox");

  var image = document.querySelector("#hideimage");
  var image2 = document.querySelector("#showimage");

  var box = document.querySelector("#hidebox");
  var box2 = document.querySelector("#showbox");

  var opacity1 = 1;
  var opacity2 = 0;

  box2.style.display = "none";
  image2.style.display = "none";

  function fadeOut() {
    opacity1 -= 0.005;
    image.style.opacity = opacity1;
    box.style.opacity = opacity1;
    if (opacity1 <= 0) {
      box.style.display = "none";
      image.style.display = "none";
      container.style.margin = "-48px 200px 0 -24px";
      fadeIn();
    } else {
      setTimeout(fadeOut, 5);
    }
  }
  setTimeout(fadeOut, 500);


  function fadeIn() {
    box2.style.display = "block";
    image2.style.display = "block";
    opacity2 += 0.005;
    box2.style.opacity = opacity2;
    image2.style.opacity = opacity2;
    if (opacity2 <= 1) {
      setTimeout(fadeIn, 5);
    }
  }

});

</script>

{% endblock %}
